.cajaPrincipal{
    height: 20em;
    width: 50em;
    display: flex;
    flex-direction: row;
}

.mandoAzul{
    width: 7em;
    height: 20em;
    border: 0.1em solid black;
    border-radius: 4.5em 0.3em 0.3em 4.5em;
    background-color: rgb(0,188,215)
}

.pantalla{
    width: 36em;
    height: 20em;
    border: 0.1em solid black;
    border-radius: 1em 1em 0.2em 0.2em;
    background-color: rgb(51,51,51);
    /*Centrado absoluto de las pantalla*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.marco{
    width: 33.5em;
    height: 19em;
    background-color: black;
    border-radius: 0.7em;
    /*Centrado absoluto de las pantalla*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.pantallaUtil{
    width: 29em;
    height: 16em;
    background-color: rgb(51,51,51);
    border-radius: 0.2em;
}

.mandoRojo{
    width: 7em;
    height: 20em;
    border: 0.1em solid black;
    border-radius: 0.3em 4.5em 4.5em 0.3em;
    background-color: rgb(255,76,82);
}