.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    background-color:white;
}

.cajaPrincipal{
    height: 20em;
    width: 50em;
    display: flex;
    flex-direction: row;
    
}
/*Todos los botones y joystick del mando azul*/
.mandoAzul{
    width: 7em;
    height: 20em;
    
    border-radius: 4.5em 0.3em 0.3em 4.5em;
    background: linear-gradient(to right, rgb(0,126,145),rgb(0,182,212));
    display: flex;
    flex-direction: column;
}
.contenedormenos{
    width: 7em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menos{
    width: 1em;
    height: 0.3em;
    margin-left: 5em;
    background-color: rgb(75, 72, 72);
}
.contenedorjoystickazul{
    width: 7em;
    height: 6.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.joyblue{
    width: 2.5em;
    height: 2.5em;
    border:0.2em solid rgb(66, 66, 66);
    border-radius: 50%;
    background: linear-gradient(to top , black, rgb(104, 98, 98));
    margin-bottom: 0.7em;
}
.contenedorflechas{
    width: 7em;
    height: 5.4em;
    display: flex;
    flex-direction: row-reverse;
}
.espaciador1{
    width: 0.8em;
    height: 5.4em;
}
.contenedorArrows{
    width: 5.4em;
    height: 5.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.arrowup{
    width: 5.4em;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonup{
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    margin-top: 0.2em;
    background: linear-gradient(to top right, black,rgb(119, 112, 112) );
    display: flex;
    align-items: center;
    justify-content: center;
}
.triangulo3{
    width: 0;
    height: 0;
    border-bottom: 0.6em solid black;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
}
.arrowleftright{
    width: 5.4em;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.botonleft{
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    background: linear-gradient(to top right, black,rgb(119, 112, 112) );
    margin-left: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.triangulo2{
    width: 0;
    height: 0;
    border-right: 0.6em solid black;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
}
.botonright{
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    background: linear-gradient(to top right, black,rgb(119, 112, 112) );
    margin-right: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.triangulo{
    width: 0; 
    height: 0; 
    border-left: 0.6em solid black;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent; 
}
.arrowdown{
    width: 5.4em;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botondown{
    width: 1.4em;
    height: 1.4em;
    margin-bottom: 0.2em;
    border-radius: 50%;
    background: linear-gradient(to top right, black,rgb(119, 112, 112) );
    display: flex;
    align-items: center;
    justify-content: center;
}
.triangulo1 {
    width: 0; 
    height: 0; 
    border-top: 0.6em solid black;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent; 
}
.espaciado3{
    width: 0.8em;
    height: 5.4em;
}
.contenedorstart{
    width: 7em;
    height: 8.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonstart{
    width: 1.3em;
    height: 1.3em;
    background: linear-gradient(to top right, black,rgb(119, 112, 112) );
    margin-bottom: 3.8em;
    margin-left: 2em;
    border-radius: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circulostart{
    width: 0.9em;
    height: 0.9em;
    background-color: black;
    border-radius: 50%;
}
/*Pantalla Principal*/
.pantalla{
    width: 36em;
    height: 20em;
    
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    
    background-color: rgb(51,51,51);
    /*Centrado absoluto de las pantalla*/
    display: flex;
    align-items: center;
    
    flex-direction: column;
}
.contenedormuescas{
    width: 36em;
    height: 0.5em;
    
    display: flex;
    flex-direction: row;
}
.muescaizq{
    width: 0.6em;
    height: 0.7em;
    background-color:white;
    border-bottom-right-radius: 60%;
}
.espaciomuescas{
    width: 34.8em;
    height: 0.3em;
}
.muescadcha{
    width: 0.6em;
    height: 0.7em;
    background-color:white;
    border-bottom-left-radius: 60%;
}

.marco{
    width: 33.5em;
    height: 19em;
    background-color: black;
    border-radius: 0.7em;
    
    /*Centrado absoluto de las pantalla*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.pantallaUtil{
    width: 29em;
    height: 16.5em;
    background-color: rgb(51,51,51);
    border-radius: 0.2em;
}
/*Todos los botones y joystick del mando rojo*/
.mandorojo{
    width: 7em;
    height: 20em;
    background: linear-gradient(to left, rgb(217,28,43), rgb(241, 85, 87));
    border-radius: 0.3em 4em 4em 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*Inserción del boton más*/
.contenedormas{
    width: 7em;
    height: 2em;
    display:flex;
    align-items: flex-start;
    justify-content: left;
    margin-top: 0.8em;
    margin-left: 0.5em;
}

/*Botones de accion mando rojo*/
.contenedorbotonera{
    width: 7em;
    height: 5.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}    
/*Tipo de fuente y tamaño de las letras*/
p{
    font-size: small;
    font-family: Arial;
}

.espacio1{
    width: 0.8em;
    height: 5.4em;
}
.botonera{
    width: 5.4em;
    height: 5.4em;
    display:flex;
    flex-direction: column;
}
.espacio3{
    width: 0.8em;
    height: 5.4em;
}
.fila1{
    width: 5.4em;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonX{
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    margin-top: 0.2em;
    background: linear-gradient(to top right, black,rgb(119, 112, 112) );
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.fila2{
    width: 5.4em;
    height: 1.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.botonY{
    width: 1.4em;
    height: 1.4em;
    margin-left: 0.2em;
    background: linear-gradient(to top right, black,rgb(119, 112, 112) );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.botonA{
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.2em;
    background: linear-gradient(to top right, black,rgb(119, 112, 112) );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.fila3{
    width: 5.4em;
    height: 1.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.botonB{
    width: 1.4em;
    height: 1.4em;
    margin-bottom: 0.2em;
    border-radius: 50%;
    background: linear-gradient(to top right, black,rgb(119, 112, 112) );
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
/*Joystick del mando rojo*/
.contenedorjoystick{
    width: 7em;
    height: 5.1em;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.joystickrojo{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: linear-gradient(to top right, black,rgb(119, 112, 112) );
    border: 0.2em solid rgb(66, 66, 66);
}

/*Boton home del mando rojo*/
.contenedorhome{
    width: 7em;
    height: 7em;
    display: flex;
}
.botonhome{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.15em solid gray;
    background-color:rgb(179, 165, 165);
    margin-left: 0.8em;
}
